* {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
.flex {
  display: flex;
  gap: 5rem;
}
.dropdown {
  list-style-type: none;
  padding: 0;
  margin: 0;
  /* border: 1px solid #ccc; */
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  /* background-color: #fff; */
  width: 100%;
  z-index: 1000;
}

.dropdown-item {
  padding: 8px;
  cursor: pointer;
}

.flex-col {
  flex-direction: column;
  gap: 1rem;
}
.capitalize {
  text-transform: capitalize;
}
.justify-between {
  justify-content: space-between;
}
.justify-end {
  justify-content: end;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --color-bg: #1f1f38;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-light: rgba(255, 255, 255, 0.6);
}

/* FORM */
.register {
  /* height: 100vh; */
  width: 100%;
  margin-top: "10rem";
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* color: #ffffff; */
  /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1510936111840-65e151ad71bb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=890&q=80"); */
  /* background-color: var(--color-bg);
  background-size: cover;
  background-blend-mode: darken; */
  font-family: "Josefin Sans", sans-serif;
}
.register-form {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  /* gap: 20rem !important; */
  /* margin: "10rem" !important; */
}

.registerTitle {
  font-size: 30px;
}

.registerForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.menu-card {
  transition: background-color 0.3s ease; /* Smooth transition for background color change */
}

.menu-card:hover {
  background-color: #f0f0f0; /* New background color on hover */
}

.registerForm > label {
  margin: 10px 0;
  color: rgb(0, 0, 0);
}
.formGroup {
  display: flex;
  flex-direction: column;
  gap: "10px" !important;
  width: 100%;
}
.registerInput {
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 10px;
  width: 100%;
}

.registerInput:focus {
  outline: none;
}

.registerButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: #000000;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  text-align: center;
}

.registerButton:hover {
  background-color: #313131;
}

@media screen and (max-width: 480px) {
  .register {
    background-position: right;
  }

  .registerInput {
    font-size: 15px;
    padding: 15px;
    border-radius: 8px;
  }

  .registerButton {
    font-size: 16px;
    padding: 20px;
    border-radius: 12px;
  }
}
